.cart-card,.address-card{
    height: 120px;
    width: 593px;
    padding: 10px;
    margin: 10px;
}

.cart-card{
    height: 203px;
    display: flex;
    flex-direction: row;
}

.cart-card img{
    height: 168px;
    width: 111px;
    object-fit: cover;
}

.cart-card .badge{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 20px;
    background-color: white !important;
    cursor: pointer;
}

.cart-card .return-icon{
    font-size: 25px;
    color: green;
}

.item-images{
    max-width: 111px;
    overflow: hidden;
}

.cart_total{
    margin: 10px;
}

.cart_total_text{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.cart-nav .nav-link {
    font-weight: 500;
    color: #555;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.cart-nav .nav-link.active {
    border-bottom: 2px solid #007bff; /* Bootstrap primary color */
    color: #007bff;
}

.cart-nav .dots {
    margin: 0 15px;
    color: #ff0000;
    font-weight: bold;
    align-self: center;
    letter-spacing: 2px;
}
