.cart-card{
    display: flex;
    flex-direction: row;
    height: 15rem;
    width: 30rem;
    margin: 10px;
    padding: 10px;
}

.cart-card img{
    height: 200px;
    width: 150px;
    object-fit: cover;
}

.cart-card .badge{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 20px;
    background-color: white !important;
    cursor: pointer;
}

.cart-card .return-icon{
    font-size: 25px;
    color: green;
}

.item-images{
    max-width: 150px;
    overflow: hidden;
}
