.cart-card{
    display: flex;
    flex-direction: row;
    height: 203px;
    width: 593px;
    margin: 10px;
    padding: 10px;
}

.cart-card img{
    height: 168px;
    width: 111px;
    object-fit: cover;
}

.cart-card .badge{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 20px;
    background-color: white !important;
    cursor: pointer;
}

.cart-card .return-icon{
    font-size: 25px;
    color: green;
}

.item-images{
    max-width: 111px;
    overflow: hidden;
}

.cart_total{
    margin: 10px;
}

.cart_total_text{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}