.product-images {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.product-images img{
    height: 529px;
    width: 395px;
}

.rating-button{
    background-color: white;
    color: black;
    width: 100px;
    border: 1px solid #31b417;
    margin-bottom: 5px;
}